## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head(5)

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,4,Morant Bay,JM,80.22,clear sky,17.8815,-76.4093,Whispering Bamboo Cove Resort
1,5,Rikitea,PF,77.97,overcast clouds,-23.1203,-134.9692,People ThankYou
2,19,Kapaa,US,78.12,clear sky,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
3,24,Hilo,US,77.25,broken clouds,19.7297,-155.0900,Hilo Hawaiian Hotel
4,25,Inhambane,MZ,76.17,clear sky,-23.8650,35.3833,Oceano

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in  vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
# 4b. Display the figure
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df['City'] == 'Maceio']
vacation_end = vacation_df.loc[vacation_df['City']   ==  'Maceio']
vacation_stop1 = vacation_df.loc[vacation_df['City'] ==   'Piacabucu']
vacation_stop2 = vacation_df.loc[vacation_df['City'] ==   'Barra']
vacation_stop3 = vacation_df.loc[vacation_df['City'] ==    'Prado']
# vacation_start
vacation_end

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
74,278,Maceio,BR,78.24,clear sky,-9.6658,-35.7353,Poutur Pousada

In [21]:
 vacation_stop1[['Lat','Lng']]

        Lat      Lng
71 -10.4056 -36.4344

In [22]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
end = vacation_end["Lat"].to_numpy()[0], vacation_end["Lng"].to_numpy()[0]
stop1 =vacation_stop1["Lat"].to_numpy()[0], vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0], vacation_stop2["Lng"].to_numpy()[0]
stop3 =vacation_stop3["Lat"].to_numpy()[0], vacation_stop3["Lng"].to_numpy()[0]

In [23]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
san_stops = [stop1,stop2,stop3]
san_trip = gmaps.directions_layer(start,end, waypoints=san_stops,travel_mode='DRIVING')
fig.add_layer(san_trip)
fig

Figure(layout=FigureLayout(height='420px'))

In [26]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_stop1,vacation_stop2,vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,278,Maceio,BR,78.24,clear sky,-9.6658,-35.7353,Poutur Pousada
1,263,Piacabucu,BR,78.64,broken clouds,-10.4056,-36.4344,Piaçabuçu News
2,599,Barra,BR,79.03,broken clouds,-11.0894,-43.1417,Motel Albatroz
3,124,Prado,BR,77.34,scattered clouds,-17.3411,-39.2208,INN CORNER RIVER - PRADO - BAHIA - HOUSING AND...

In [27]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [28]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure()
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
# 11b. Display the figure
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))